{% extends 'Layout/main.html.twig' %}

{% block javascripts %}
<script type="text/javascript">
</script>
{% endblock %}

{% block stylesheets %}
<style type="text/css">
	ul { list-style: none; margin: -15px 0 40px 0; }
</style>
{% endblock %}

{% block content %}
	<section class="section-box shadow membership"><section class="container"><div class="row">
		<header class="highlight span12">
			<h2>Becoming a Formal Member of Seductive Turtle Gaming Community</h2>
		</header>

		<header class="highlight span12">
			<p>Some of you might not know this, but Seductive Turtle Gaming Community (STGC) is actually a California 501(c)3 Non-Profit Organization. With this status, we actually can give tax breaks to people who donate, which is awesome, for a couple reasons which I won’t list here.</p>
		
			<p>When STGC was set up, we set up the Bylaws so that we have a membership structure, and we set it up with dues. Any formal member of STGC is required to pay dues. Now, this does not mean you have to pay to play with us, or to be in our Teamspeak, or to just be part of our awesome community. The big difference is, in order to achieve some of the higher ranks in the community, you must be a paying member. We do this to make sure the people who want to be in leadership positions are actually serious about being in the community.</p>
			
			<p>There are two levels of formal membership in STGC. The first level is set at $5 a month, and grants you access to a couple of things within the community:</p>
			
			<ul>
				<li>Reserved Slots on all servers, and Teamspeak</li>
				<li>Moderator rights on the forum, the Teamspeak, and all of our servers</li>
				<li>High Officer Rank - Minimum</li>
				<li>A seat listening to the big meetings</li>
				<li>In charge of at least one activity</li>
			</ul>
			
			<p>The second level, which is less common, is set at $15 a month, and grants you everything of the previous level, along with a few other things:</p>
			
			<ul>
				<li>Admin rights on the forum, the Teamspeak, and all of our servers</li>
				<li>Ability to run a STGC Sponsored server</li>
				<li>A seat participating in the big meetings</li>
				<li>Voting rights within the STGC Community – Ask for more information if you want</li>
				<li>General Rank – Minimum</li>
			</ul>

			<p>All of these points are subject to the approval of the Generals and the Board of Directors. Any rank gains are specifically subject to the approval of the Generals and the Board of Directors. If we deem you irresponsible, you may not be given the minimum rank.</p>

			<p>All of these membership dues go to running the community. None of the money here goes to any one specific person. Because we run a non-profit, no one running the community is allowed to be paid, and we are encouraged to put everything into the community.</p>
		</header>
	</div></section></section>
{% endblock %}
