{% extends 'Layout/main.html.twig' %}

{% block javascripts %}
<script type="text/javascript">
</script>
{% endblock %}

{% block stylesheets %}
<style type="text/css">
	ul { list-style: none; margin: -15px 0 40px 0; }
</style>
{% endblock %}

{% block content %}
	<section class="section-box shadow membership"><section class="container"><div class="row">
		<header class="highlight span12">
			<h2>Thank you for donating to Seductive Turtle Gaming Community</h2>
		</header>

		<header class="highlight span12">
			<p>We are a 501(c)3 Non-Profit Organization, so keep that receipt and use it as a writeoff!</p>

			<p>All of the money that is donated goes to running the community. No one in the community gets the money, it all goes straight back into running all the servers, and running all the events.</p>
		</header>
	</div></section></section>
{% endblock %}
