<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="Description" content="Educational Non-Profit dedicated to providing a safe place for people to play video games" />
		<meta name="Keywords" content="Video Games, Gaming Community, Video Game Community, PC Games, Xbox Games, Playstation, Xbox" />
		<title>Seductive Turtle Gaming Community</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/assets/css/bootstrap.css" type="text/css">
		<link rel="stylesheet" href="/assets/css/bootstrap-responsive.css" type="text/css">
		<link rel="stylesheet" href="/assets/css/strip.css" type="text/css">
		<link rel="stylesheet" href="/assets/css/strip-responsive.css" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>

		<link rel="shortcut icon" href="/assets/img/favico.png">


		<!--[if lt IE 9]>
		<script src="/assets/js/jquery-old.js" type="text/javascript"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script src="/assets/js/jquery.js" type="text/javascript"></script>
		<!--<![endif]-->

		<script type="text/javascript">
			var fb_param = {};
			fb_param.pixel_id = '6008839602669';
			fb_param.value = '0.00';
			fb_param.currency = 'USD';
			(function(){
			var fpw = document.createElement('script');
			fpw.async = true;
			fpw.src = '//connect.facebook.net/en_US/fp.js';
			var ref = document.getElementsByTagName('script')[0];
			ref.parentNode.insertBefore(fpw, ref);
			})();
		</script>
		<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6008839602669&amp;value=0&amp;currency=USD" /></noscript>
		{% block javascripts %}{% endblock %}
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		<section class="container">
			<nav class="navbar">
				<div class="navbar-inner">
					<div class="container">
						<a href="/"><img src="/seductiveturtle.png" id="logo" /></a>
						<ul class="nav">
							<li><a href="http://forum.st-gc.org/">Forum</a></li>
							<li><a href="ts3server://ts.st-gc.org/?port=9987">Teamspeak</a></li>
							<li><a href="/membership">Formal Membership</a></li>
							<li><a href="/register">Register</a></li>
							<li>
								<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
									<input type="hidden" name="cmd" value="_s-xclick">
									<input type="hidden" name="hosted_button_id" value="JTY4PNMAN63LC">
									<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
									<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
								</form>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</section>

		{% block content %}{% endblock %}

		<footer class="container footer-box">   
			<hr class="shadow-line" />		 
			<nav class="links">			 
				<a href="http://forum.st-gc.org/">Forum</a>
				<a href="ts3server://ts.st-gc.org/?port=9987">Teamspeak</a>
				<!--a href="http://bf3-top100.com/"><img src="http://bf3-top100.com/button.php?u=aequasi" alt="Battlefield 3 Top100" border="0" /></a-->
				<a href="/membership">Formal Membership</a>
				<a href="/Register">Register</a>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="JTY4PNMAN63LC">
					<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>

			</nav>
			<div class="fb-like" data-href="https://www.facebook.com/stgamingcommunity" data-width="450" data-colorscheme="dark" data-show-faces="true" data-send="true"></div>
		</footer>
		<script src="/assets/js/bootstrap.js"></script>
		<script src="/assets/js/underscore.js"></script>
		<script type="text/javascript">
			var _gauges = _gauges || [];
			(function() {
				var t   = document.createElement('script');
				t.type  = 'text/javascript';
				t.async = true;
				t.id    = 'gauges-tracker';
				t.setAttribute('data-site-id', '522f3cc0613f5d0ffa000072');
				t.src = '//secure.gaug.es/track.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(t, s);
			})();
		</script>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=577416412294512";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-44598762-1', 'st-gc.org');
		ga('send', 'pageview');

		</script>
		<!-- Piwik -->
		<script type="text/javascript">
		  var _paq = _paq || [];
		  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
		  _paq.push(["setCookieDomain", "*.st-gc.org"]);
		  _paq.push(["trackPageView"]);
		  _paq.push(["enableLinkTracking"]);

		  (function() {
		    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://reporting.lfgame.rs/";
		    _paq.push(["setTrackerUrl", u+"piwik.php"]);
		    _paq.push(["setSiteId", "2"]);
		    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
		    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
		  })();
		</script>
		<!-- End Piwik Code -->
	</body>
</html>
